/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 1240px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1660px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 767.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1239.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1240px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 1240px) and (max-width: 1659.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1660px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 2rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  color: #fefefe;
  padding: 5px 0;
  overflow: hidden;
  font-weight: 100;
  font-size: 2.7rem;
  line-height: 3rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  border-bottom: 2px solid #ffff;
}
.form_control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #fff;
}
.form_control::-webkit-input-placeholder {
  color: #fff;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form_group {
  margin-bottom: 48px;
}

.btn {
  border: none;
  outline: none;
  color: #383c46;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 19px 25px;
  user-select: none;
  text-align: center;
  background: #fff33b;
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.btn:hover {
  color: #383c46;
  background: #FFD500;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn:active {
  background: #fff33b;
}
@media (min-width: 768px) {
  .btn {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

.btn_download {
  position: relative;
  text-align: left;
  padding: 16px 36px 16px 90px;
  text-transform: initial;
}
.btn_download:before {
  top: 0;
  left: 0;
  content: "";
  width: 65px;
  height: 100%;
  position: absolute;
  border-right: 1px solid #7b762b;
  background: url("../img/icon__download.png") 50% 50% no-repeat;
}
.btn_download span {
  display: block;
  font-size: 1.8rem;
  line-height: 2rem;
}
.btn_download small {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .btn_download {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  .btn_download span {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  .btn_download small {
    font-size: 1.9rem;
    line-height: 2rem;
  }
}

.btn_callback {
  color: #cdcccc;
  outline: none;
  user-select: none;
  font-weight: 100;
  font-size: 2.1rem;
  line-height: 2.6rem;
  padding: 10px 20px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid #656363;
}
.btn_callback:hover {
  color: #231f20;
  background: #fff;
  border-color: #fff;
}
.btn_callback:focus, .btn_callback.focus {
  outline: 0;
}
.btn_callback:active {
  top: 1px;
}

.btn_green {
  color: #fff;
  background: #72a041;
}
.btn_green:hover {
  color: #fff;
  background: #578921;
}

.btn_group {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.btn_group > li {
  padding: 0 15px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .btn_md {
    font-size: 3rem;
    line-height: 3rem;
    padding: 27px 50px;
  }
}

.btn_icon {
  font-weight: 100;
  padding-right: 70px;
}
.btn_icon:before {
  top: 10px;
  bottom: 10px;
  right: 50px;
  width: 1px;
  content: "";
  background: #aac68d;
  position: absolute;
}
.btn_icon i {
  top: 50%;
  right: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  margin-top: -10px;
  position: absolute;
  display: inline-block;
}
@media (min-width: 992px) {
  .btn_icon {
    padding-left: 35px;
    padding-right: 80px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #252525;
  font-family: "PF Din Text Comp Pro", Arial, sans-serif;
  background-color: #fff;
  font-size: 2rem;
  line-height: 1.5;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1240px) {
  .container {
    width: 1210px;
  }
}
@media (min-width: 1660px) {
  .container {
    width: 1630px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  font-family: "PF Din Text Comp Pro", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  font-family: "PF Din Text Comp Pro", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "PF Din Text Comp Pro", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "PF Din Text Comp Pro", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "PF Din Text Comp Pro", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "PF Din Text Comp Pro", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #252525;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #252525;
  text-decoration: none;
}

.header {
  z-index: 1000;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  background: #151515;
}
.header__row {
  margin: 0 auto;
  max-width: 1290px;
}
.header__logo {
  color: #fff;
  font-size: 0;
  line-height: 0;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
}
.header__logo_main {
  font-weight: 100;
  font-size: 3.8rem;
  line-height: 3.4rem;
  text-transform: uppercase;
}
.header__logo_main strong {
  padding: 0 5px;
  color: #231f20;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 3.4rem;
  display: inline-block;
  background: #fff33b;
}
.header__logo_main span {
  font-size: 3.8rem;
  line-height: 3.4rem;
  display: inline-block;
}
.header__logo_text {
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 2rem;
  display: block;
  padding-top: 5px;
  text-transform: uppercase;
}
.header__contact {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
}
.header__contact li:first-child {
  margin-bottom: 5px;
}
.header__phone {
  height: 36px;
  color: #b4b4b4;
  font-size: 2.4rem;
  line-height: 3.6rem;
  display: inline-block;
  text-decoration: none;
}
.header__phone:hover {
  color: #b4b4b4;
  text-decoration: none;
}
.header__phone span {
  color: #2fbcdc;
  font-weight: 300;
  font-size: 3.6rem;
}
.header__email {
  color: #959595;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 2.1rem;
  display: inline-block;
  text-decoration: none;
}
.header__email:hover {
  color: #959595;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__row {
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .header__logo {
    margin-bottom: 0;
  }
  .header__contact {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .header {
    background: #151515 url("../img/header__bg.jpg") 40% 50% no-repeat;
  }
}
@media (min-width: 1240px) {
  .header {
    background-position: 50% 50%;
  }
}

.footer {
  color: #fff;
  padding-top: 36px;
  padding-bottom: 50px;
  background: #231f20;
}
.footer__left {
  text-align: center;
}
.footer__center {
  padding: 30px 0;
  text-align: center;
}
.footer__right {
  text-align: center;
}
.footer__logo {
  color: #fff;
  font-size: 0;
  line-height: 0;
  margin-bottom: 30px;
  text-decoration: none;
  display: inline-block;
}
.footer__logo_main {
  font-weight: 100;
  font-size: 3.8rem;
  line-height: 3.4rem;
  text-transform: uppercase;
}
.footer__logo_main strong {
  padding: 0 5px;
  color: #231f20;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 3.4rem;
  display: inline-block;
  background: #fff33b;
}
.footer__logo_main span {
  font-size: 3.8rem;
  line-height: 3.4rem;
  display: inline-block;
}
.footer__logo_text {
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 2rem;
  display: block;
  padding-top: 5px;
  text-transform: uppercase;
}
.footer__info {
  color: #959595;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2rem;
}
.footer__info_dev {
  color: #959595;
  font-weight: 300;
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__info_dev:hover {
  color: #fff;
  text-decoration: none;
}
.footer__info_text a {
  color: #959595;
  text-decoration: none;
}
.footer__info_text a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__contact {
  margin: 0 0 15px 0;
  padding: 0;
  color: #959595;
  font-weight: 300;
  list-style: none;
  font-size: 1.9rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.footer__contact > li:first-child {
  margin-bottom: 20px;
}
.footer__phone {
  height: 36px;
  color: #b4b4b4;
  font-size: 2.4rem;
  line-height: 3.6rem;
  display: inline-block;
  text-decoration: none;
}
.footer__phone:hover {
  color: #b4b4b4;
  text-decoration: none;
}
.footer__phone span {
  color: #2fbcdc;
  font-weight: 300;
  font-size: 3.6rem;
}
.footer__email {
  color: #959595;
  text-decoration: none;
}
.footer__email:hover {
  color: #fff;
  text-decoration: none;
}
.footer__social {
  font-size: 0;
  line-height: 0;
  margin: 0 -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.footer__social a {
  color: #5a5758;
  font-size: 26px;
  line-height: 26px;
  margin: 0 15px;
  display: inline-block;
  text-decoration: none;
}
.footer__social a:hover {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__left {
    text-align: left;
    padding-top: 5px;
  }
  .footer__center {
    padding: 80px 0 0 40px;
  }
  .footer__right {
    text-align: right;
  }
  .footer__logo {
    margin-bottom: 35px;
  }
  .footer__contact {
    width: 200px;
  }
  .footer__social {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  .footer {
    background: #231f20 url("../img/footer__bg.jpg") 50% 100% no-repeat;
  }
  .footer__center {
    padding: 80px 0 0 0;
  }
  .footer .btn_callback {
    left: -110px;
  }
}
.page {
  overflow: hidden;
  min-height: 100vh;
}

.first {
  color: #fff;
  padding-top: 50px;
  background: #2b2b2b;
  padding-bottom: 40px;
}
.first__phone {
  color: #fff;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4rem;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 25px;
}
.first__phone span {
  color: #fff33b;
}
.first__phone:hover {
  color: #fff;
  text-decoration: none;
}
.first h1 {
  color: #222;
  font-weight: 100;
  font-size: 2.8rem;
  line-height: 2.8rem;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.first h1 span {
  padding: 2px 10px;
  background: #fff33b;
  display: inline-block;
  margin-bottom: 1px;
}
.first h1 strong {
  padding: 2px 10px;
  font-weight: 700;
  background: #fff33b;
  display: inline-block;
}
.first__advantage {
  margin: 0;
  padding: 0;
  margin: 0 -10px;
  color: #fff33b;
  font-size: 2rem;
  list-style: none;
  text-align: center;
  line-height: 2.2rem;
  text-transform: uppercase;
}
.first__advantage li {
  margin-bottom: 20px;
}
.first__advantage span {
  display: block;
}
.first__advantage strong {
  color: #fff;
  display: block;
  font-weight: 400;
}
.first__content {
  margin-bottom: 40px;
  text-align: center;
}
.first__action {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.first__action span {
  display: block;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .first__phone {
    font-size: 5.8rem;
    line-height: 5.6rem;
  }
  .first h1 {
    color: #222;
    font-weight: 100;
    font-size: 4.9rem;
    line-height: 5rem;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  .first h1 span {
    padding: 6px 10px;
  }
  .first h1 strong {
    padding: 6px 10px;
  }
  .first__advantage {
    margin: 0 -35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .first__advantage li {
    padding: 0 35px;
    border-right: 1px dashed #808080;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .first__advantage li:last-child {
    border-right: none;
  }
}
@media (min-width: 992px) {
  .first {
    background: #2b2b2b url("../img/first__bg.jpg") 50% 50% no-repeat;
  }
  .first__content {
    text-align: left;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .first__advantage {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .first__action {
    text-align: left;
  }
}
@media (min-width: 1240px) {
  .first__content {
    padding-left: 42%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
}
@media (min-width: 1660px) {
  .first__action {
    padding-left: 60px;
  }
}

.worktime {
  color: #fff;
  padding: 27px 0;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 3.1rem;
  background: #383432;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .worktime {
    font-size: 3.1rem;
    letter-spacing: 2px;
  }
}

.advantage {
  padding-top: 70px;
  position: relative;
  padding-bottom: 80px;
  background: #fff url("../img/advantage__bg.jpg") 50% 0 repeat-x;
}
.advantage__projector {
  top: 0;
  left: 50%;
  display: none;
  position: absolute;
}
.advantage h2 {
  color: #f7f7f7;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.advantage h2 span {
  color: #f7f7f7;
  padding: 4px 20px;
  background: #565657;
  display: inline-block;
}
.advantage .subtitle {
  color: #3a3a3a;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  line-height: 2.4rem;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.advantage__step {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantage__step > li {
  width: 198px;
  position: relative;
  margin: 0 auto 50px auto;
}
.advantage__step > li:nth-child(1) .advantage__elem {
  background-position: 0 0;
}
.advantage__step > li:nth-child(1) .advantage__elem:hover {
  background-position: -168px 0;
}
.advantage__step > li:nth-child(2) .advantage__elem {
  background-position: 0 -190px;
}
.advantage__step > li:nth-child(2) .advantage__elem:hover {
  background-position: -168px -190px;
}
.advantage__step > li:nth-child(3) .advantage__elem {
  background-position: 0 -380px;
}
.advantage__step > li:nth-child(3) .advantage__elem:hover {
  background-position: -168px -380px;
}
.advantage__step > li:nth-child(4) .advantage__elem {
  background-position: 0 -570px;
}
.advantage__step > li:nth-child(4) .advantage__elem:hover {
  background-position: -168px -570px;
}
.advantage__step > li:nth-child(5) .advantage__elem {
  background-position: 0 -760px;
}
.advantage__step > li:nth-child(5) .advantage__elem:hover {
  background-position: -168px -760px;
}
.advantage__step > li:nth-child(6) .advantage__elem {
  background-position: 0 -950px;
}
.advantage__step > li:nth-child(6) .advantage__elem:hover {
  background-position: -168px -950px;
}
.advantage__step > li:hover {
  z-index: 20;
}
.advantage__elem {
  width: 168px;
  height: 190px;
  margin: 0 auto;
  position: relative;
  background: url("../img/advantage__item_bg.png") 0 0 no-repeat;
}
.advantage__elem:hover .advantage__hover {
  opacity: 1;
  visibility: visible;
}
.advantage__text {
  color: #000;
  opacity: 0.8;
  padding-top: 30px;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.7rem;
  text-align: center;
  text-transform: uppercase;
}
.advantage__hover {
  top: 0;
  left: -61px;
  width: 290px;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  font-size: 1.8rem;
  line-height: 2.4rem;
  position: absolute;
  background: #2b2b2b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.advantage__hover:before {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #7f7f7f;
}
.advantage__hover span {
  display: block;
  margin: auto 0;
}
@media (min-width: 768px) {
  .advantage {
    padding-top: 240px;
  }
  .advantage:before {
    top: 0;
    left: 50%;
    content: "";
    width: 672px;
    height: 250px;
    position: absolute;
    margin-left: -336px;
    background: url("../img/projector.png") 50% 0 no-repeat;
  }
  .advantage h2 {
    font-size: 4.7rem;
    line-height: 4.8rem;
  }
  .advantage h2 span {
    padding: 10px 25px;
  }
  .advantage__step {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .advantage__step > li {
    margin: 0 0 70px 0;
  }
  .advantage__step > li:before {
    top: 65px;
    right: -55px;
    content: "";
    width: 41px;
    height: 64px;
    position: absolute;
    background: url("../img/advantage__arrow.png") 0 0 no-repeat;
  }
  .advantage__step > li:nth-child(3):before {
    top: 100%;
    right: 50%;
    margin: -15px -20px 0 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .advantage__step > li:nth-child(4):before, .advantage__step > li:nth-child(5):before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .advantage__step > li:nth-child(6):before {
    display: none;
  }
  .advantage__step > li:nth-child(1) .advantage__hover, .advantage__step > li:nth-child(4) .advantage__hover {
    left: 0;
    margin-left: 0;
  }
  .advantage__step > li:nth-child(3) .advantage__hover, .advantage__step > li:nth-child(6) .advantage__hover {
    left: auto;
    right: 0;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .advantage {
    padding-bottom: 170px;
  }
  .advantage__step {
    width: 780px;
    margin: 0 auto;
  }
}
@media (min-width: 1240px) {
  .advantage {
    padding-bottom: 170px;
  }
  .advantage .subtitle {
    margin-bottom: 110px;
  }
  .advantage__step {
    width: auto;
    margin: 0 -15px 60px -15px;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .advantage__step > li {
    margin-bottom: 0;
  }
  .advantage__step > li:before {
    display: none;
  }
  .advantage__step > li:nth-child(1) .advantage__elem {
    margin-top: -190px;
  }
  .advantage__step > li:nth-child(6) .advantage__elem {
    margin-top: -190px;
  }
  .advantage__step > li:nth-child(1) .advantage__hover, .advantage__step > li:nth-child(2) .advantage__hover, .advantage__step > li:nth-child(3) .advantage__hover {
    left: 100%;
    right: auto;
    margin-left: 30px;
  }
  .advantage__step > li:nth-child(4) .advantage__hover, .advantage__step > li:nth-child(5) .advantage__hover, .advantage__step > li:nth-child(6) .advantage__hover {
    left: auto;
    right: 100%;
    margin-right: 30px;
  }
  .advantage__hover {
    left: 100%;
    width: 500px;
    margin-left: 0;
    font-size: 2.3rem;
    line-height: 3.1rem;
  }
}
@media (min-width: 1660px) {
  .advantage__step > li:nth-child(1):before {
    top: -30px;
    display: block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .advantage__step > li:nth-child(2):before {
    right: -65px;
  }
  .advantage__step > li:nth-child(3):before {
    margin: 0;
    top: 65px;
    right: -65px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  .advantage__step > li:nth-child(4):before {
    right: -65px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  .advantage__step > li:nth-child(5):before {
    top: -30px;
    display: block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .advantage__step > li:nth-child(1) .advantage__hover, .advantage__step > li:nth-child(2) .advantage__hover, .advantage__step > li:nth-child(3) .advantage__hover {
    margin-left: 48px;
  }
  .advantage__step > li:nth-child(4) .advantage__hover, .advantage__step > li:nth-child(5) .advantage__hover, .advantage__step > li:nth-child(6) .advantage__hover {
    margin-right: 48px;
  }
}

.problem {
  color: #fff;
  z-index: 10;
  padding: 60px 0;
  position: relative;
  background: #2b2b2b;
}
.problem .container {
  z-index: 20;
  position: relative;
}
.problem h2 {
  color: #222222;
  font-weight: 100;
  font-size: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.problem h2 span {
  color: #222222;
  padding: 4px 20px;
  background: #fff33b;
  display: inline-block;
}
.problem__left {
  z-index: 20;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.problem__left p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.6rem;
  margin: 0 0 45px 0;
}
.problem__left ul {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
  font-size: 2.1rem;
  line-height: 2.7rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.problem__left ul > li {
  width: 125px;
  text-align: center;
  position: relative;
  margin: 0 15px 40px 15px;
  padding: 150px 0 0 0;
}
.problem__left ul > li:before {
  top: 0;
  left: 0;
  content: "";
  width: 125px;
  height: 125px;
  position: absolute;
  display: inline-block;
  background: url("../img/problem__icon.png") 0 0 no-repeat;
}
.problem__left ul > li:nth-child(1) {
  color: #fff33b;
}
.problem__left ul > li:nth-child(1):before {
  background-position: 0 0;
}
.problem__left ul > li:nth-child(2):before {
  background-position: 0 -125px;
}
.problem__left ul > li:nth-child(3):before {
  background-position: 0 -250px;
}
.problem__left ul > li:nth-child(4):before {
  background-position: 0 -375px;
}
.problem__form {
  padding: 9px;
  margin: 0 auto;
  max-width: 390px;
  position: relative;
}
.problem__form_top {
  top: 0;
  right: 0;
  content: "";
  width: 84px;
  height: 84px;
  display: block;
  position: absolute;
  border-top: 2px solid #fff33b;
  border-right: 2px solid #fff33b;
}
.problem__form_bottom {
  left: 0;
  bottom: 0;
  content: "";
  width: 84px;
  height: 84px;
  display: block;
  position: absolute;
  border-left: 2px solid #fff33b;
  border-bottom: 2px solid #fff33b;
}
.problem__form_wrap {
  z-index: 10;
  position: relative;
  padding: 50px 15px 40px 15px;
  background: rgba(43, 43, 43, 0.4);
}
.problem__form .btn {
  width: 100%;
}
@media (min-width: 768px) {
  .problem {
    padding: 90px 0;
    background: #2b2b2b url("../img/problem__bg.jpg") 50% 0 no-repeat;
  }
  .problem h2 {
    font-size: 4.7rem;
    line-height: 4.8rem;
  }
  .problem h2 span {
    padding: 10px 25px;
  }
  .problem__left {
    margin-bottom: 0;
  }
  .problem__left p {
    font-size: 2.3rem;
    line-height: 3.1rem;
  }
  .problem__form {
    width: 390px;
  }
  .problem__form_wrap {
    padding: 50px 35px 40px 35px;
  }
}
@media (min-width: 1240px) {
  .problem .container:before {
    z-index: 1;
    top: -226px;
    left: -135px;
    content: "";
    width: 399px;
    height: 272px;
    display: block;
    position: absolute;
    background: url("../img/problem__image.png") 0 0 no-repeat;
  }
}
@media (min-width: 1240px) {
  .problem__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .problem__left {
    text-align: left;
    max-width: 900px;
  }
  .problem__left ul {
    width: 700px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .problem__left ul > li {
    margin-bottom: 0;
  }
  .problem__right {
    padding-top: 80px;
  }
  .problem h2 {
    text-align: left;
  }
}
@media (min-width: 1900px) {
  .problem {
    background-size: cover;
  }
}

.contact {
  position: relative;
}
.contact__map {
  height: 372px;
}
.contact__nav {
  margin: 0;
  padding: 10px 0;
  z-index: 200;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.contact__nav > li {
  padding: 0 5px;
  margin-bottom: 10px;
}
.contact__nav > li.active a {
  color: #3a3735;
  background: #d9b82d;
}
.contact__nav > li.active a:hover {
  color: #3a3735;
  background: #d9b82d;
}
.contact__nav > li a {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 9px 15px;
  background: #3a3736;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.contact__nav > li a:hover {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .contact__map {
    height: 440px;
  }
  .contact__nav {
    padding: 0;
    left: 10px;
    right: 10px;
    bottom: 25px;
    position: absolute;
  }
}
@media (min-width: 1240px) {
  .contact__map {
    height: 372px;
  }
}
@media (min-width: 1660px) {
  .contact__nav > li a {
    font-weight: 100;
    font-size: 2.1rem;
  }
}

.main {
  color: #2a2a2a;
  padding: 70px 0;
  background: #fff;
}
.main h2 {
  color: #272727;
  max-width: 930px;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  margin: 0 auto 50px auto;
}
.main h2 strong {
  font-weight: 700;
}
.main__image {
  display: none;
}
@media (min-width: 768px) {
  .main h2 {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }
}
@media (min-width: 1240px) {
  .main h2 {
    font-size: 5.1rem;
    line-height: 5.1rem;
    margin-bottom: 80px;
  }
  .main__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .main__content {
    max-width: 690px;
  }
  .main__image {
    display: block;
    padding-left: 60px;
  }
  .main__image_item {
    width: 400px;
  }
}
@media (min-width: 1240px) and (min-width: 1660px) {
  .main__content {
    margin-left: 180px;
  }
  .main__image_item {
    width: 552px;
  }
}
.table_wrap {
  margin: 0 -10px 40px -10px;
}
@media (min-width: 768px) {
  .table_wrap {
    margin: 0 -15px 60px -15px;
  }
}

.table {
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  border-collapse: collapse;
}
.table td {
  padding: 8px 10px;
}
@media (min-width: 768px) {
  .table {
    font-size: 2.1rem;
    line-height: 2.4rem;
  }
  .table td {
    padding: 10px 15px;
  }
}

/*# sourceMappingURL=main.css.map */
