.footer {
	color: #fff;
	padding-top: 36px;
	padding-bottom: 50px;
	background: #231f20;

	&__row {

	}

	&__left {
		text-align: center;
	}

	&__center {
		padding: 30px 0;
		text-align: center;
	}

	&__right {
		text-align: center;
	}

	&__logo {
		color: #fff;
		font-size: 0;
		line-height: 0;
		margin-bottom: 30px;
		text-decoration: none;
		display: inline-block;

		&_main {
			font-weight: 100;
			font-size: 3.8rem;
			line-height: 3.4rem;
			text-transform: uppercase;

			strong {
				padding: 0 5px;
				color: #231f20;
				font-weight: 500;
				font-size: 3.8rem;
				line-height: 3.4rem;
				display: inline-block;
				background: $color-yellow;
			}

			span {
				font-size: 3.8rem;
				line-height: 3.4rem;
				display: inline-block;
			}
		}

		&_text {
			font-weight: 100;
			font-size: 1.4rem;
			line-height: 2rem;
			display: block;
			padding-top: 5px;
			text-transform: uppercase;
		}
	}

	&__info {
		color: #959595;
		font-weight: 100;
		font-size: 1.8rem;
		line-height: 2rem;

		&_dev {
			color: #959595;
			font-weight: 300;
			margin-bottom: 5px;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}

		&_text {

			a {
				color: #959595;
				text-decoration: none;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	&__contact {
		margin: 0 0 15px 0;
		padding: 0;
		color: #959595;
		font-weight: 300;
		list-style: none;
		font-size: 1.9rem;
		line-height: 2.9rem;
		text-transform: uppercase;

		> li {

			&:first-child {
				margin-bottom: 20px;
			}
		}
	}

	&__phone {
		height: 36px;
		color: #b4b4b4;
		font-size: 2.4rem;
		line-height: 3.6rem;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #b4b4b4;
			text-decoration: none;
		}

		span {
			color: #2fbcdc;
			font-weight: 300;
			font-size: 3.6rem;
		}
	}

	&__email {
		color: #959595;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__social {
		font-size: 0;
		line-height: 0;
		margin: 0 -15px;
		@include flexbox();
		@include justify-content(center);

		a {
			color: #5a5758;
			font-size: 26px;
			line-height: 26px;
			margin: 0 15px;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__left {
			text-align: left;
			padding-top: 5px;
		}

		&__center {
			padding: 80px 0 0 40px;
		}

		&__right {
			text-align: right;
		}

		&__logo {
			margin-bottom: 35px;
		}

		&__contact {
			width: 200px;
		}

		&__social {
			@include justify-content(flex-end);
		}
	}

	@media (min-width: $screen-md-min) {
		background: #231f20 url("../img/footer__bg.jpg") 50% 100% no-repeat;

		&__center {
			padding: 80px 0 0 0;
		}

		.btn_callback {
			left: -110px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}