.header {
	z-index: 1000;
	padding-top: 25px;
	padding-bottom: 20px;
	text-align: center;
	background: #151515;

	&__row {
		margin: 0 auto;
		max-width: 1290px;
	}

	&__logo {
		color: #fff;
		font-size: 0;
		line-height: 0;
		margin-bottom: 20px;
		text-decoration: none;
		display: inline-block;

		&_main {
			font-weight: 100;
			font-size: 3.8rem;
			line-height: 3.4rem;
			text-transform: uppercase;

			strong {
				padding: 0 5px;
				color: #231f20;
				font-weight: 500;
				font-size: 3.8rem;
				line-height: 3.4rem;
				display: inline-block;
				background: $color-yellow;
			}

			span {
				font-size: 3.8rem;
				line-height: 3.4rem;
				display: inline-block;
			}
		}

		&_text {
			font-weight: 100;
			font-size: 1.4rem;
			line-height: 2rem;
			display: block;
			padding-top: 5px;
			text-transform: uppercase;
		}
	}

	&__contact {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		li {

			&:first-child {
				margin-bottom: 5px;
			}
		}
	}

	&__phone {
		height: 36px;
		color: #b4b4b4;
		font-size: 2.4rem;
		line-height: 3.6rem;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #b4b4b4;
			text-decoration: none;
		}

		span {
			color: #2fbcdc;
			font-weight: 300;
			font-size: 3.6rem;
		}
	}

	&__email {
		color: #959595;
		font-weight: 300;
		font-size: 1.9rem;
		line-height: 2.1rem;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #959595;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			text-align: left;
			@include flexbox();
			@include justify-content(space-between);
		}

		&__logo  {
			margin-bottom: 0;
		}

		&__contact {
			text-align: right;
		}
	}

	@media (min-width: $screen-md-min) {
		background: #151515 url("../img/header__bg.jpg") 40% 50% no-repeat;
	}

	@media (min-width: $screen-lg-min) {
		background-position: 50% 50%;
	}
}