.page {
	overflow: hidden;
	min-height: 100vh;
}

.main {
//	@include flex-grow(1);
}

.first {
	color: #fff;
	padding-top: 50px;
	background: #2b2b2b;
	padding-bottom: 40px;

	&__phone {
		color: #fff;
		font-weight: 300;
		font-size: 4rem;
		line-height: 4rem;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 25px;

		span {
			color: $color-yellow;
		}

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	h1 {
		color: #222;
		font-weight: 100;
		font-size: 2.8rem;
		line-height: 2.8rem;
		margin-bottom: 50px;
		text-transform: uppercase;

		span {
			padding: 2px 10px;
			background: #fff33b;
			display: inline-block;
			margin-bottom: 1px;
		}

		strong {
			padding: 2px 10px;
			font-weight: 700;
			background: #fff33b;
			display: inline-block;
		}
	}

	&__advantage {
		margin: 0;
		padding: 0;
		margin: 0 -10px;
		color: #fff33b;
		font-size: 2rem;
		list-style: none;
		text-align: center;
		line-height: 2.2rem;
		text-transform: uppercase;

		li {
			margin-bottom: 20px;
		}

		span {
			display: block;
		}

		strong {
			color: #fff;
			display: block;
			font-weight: 400;
		}
	}

	&__content {
		margin-bottom: 40px;
		text-align: center;
	}

	&__action {
		font-size: 1.5rem;
		line-height: 2rem;
		text-align: center;
		text-transform: uppercase;

		span {
			display: block;
			padding-top: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__phone {
			font-size: 5.8rem;
			line-height: 5.6rem;
		}

		h1 {
			color: #222;
			font-weight: 100;
			font-size: 4.9rem;
			line-height: 5rem;
			margin-bottom: 50px;
			text-transform: uppercase;

			span {
				padding: 6px 10px;
			}

			strong {
				padding: 6px 10px;
			}
		}

		&__advantage {
			margin: 0 -35px;
			@include flexbox();
			@include justify-content(center);

			li {
				padding: 0 35px;
				border-right: 1px dashed #808080;
				@include flex-shrink(0);

				&:last-child {
					border-right: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		background: #2b2b2b url("../img/first__bg.jpg") 50% 50% no-repeat;

		&__content {
			text-align: left;
			margin-bottom: 10px;
			@include flexbox();
			@include justify-content(flex-end);
		}

		&__advantage {
			@include justify-content(flex-start);
		}

		&__action {
			text-align: left;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			padding-left: 42%;
			@include justify-content(flex-start);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__action {
			padding-left: 60px;
		}
	}
}

.worktime {
	color: #fff;
	padding: 27px 0;
	font-weight: 100;
	font-size: 2.5rem;
	line-height: 3.1rem;
	background: #383432;
	text-align: center;
	text-transform: uppercase;

	@media (min-width: $screen-md-min) {
		font-size: 3.1rem;
		letter-spacing: 2px;
	}

}

.advantage {
	padding-top: 70px;
	position: relative;
	padding-bottom: 80px;
	background: #fff url("../img/advantage__bg.jpg") 50% 0 repeat-x;

	&__projector {
		top: 0;
		left: 50%;
		display: none;
		position: absolute;
	}

	h2 {
		color: #f7f7f7;
		font-weight: 300;
		font-size: 3.6rem;
		line-height: 3.6rem;
		text-align: center;
		margin-bottom: 15px;
		text-transform: uppercase;

		span {
			color: #f7f7f7;
			padding: 4px 20px;
			background: #565657;
			display: inline-block;
		}
	}

	.subtitle {
		color: #3a3a3a;
		font-size: 2rem;
		font-weight: 300;
		text-align: center;
		line-height: 2.4rem;
		margin-bottom: 50px;
		text-transform: uppercase;
	}

	&__step {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			width: 198px;
			position: relative;
			margin: 0 auto 50px auto;

			&:nth-child(1) {

				.advantage__elem {

					background-position: 0 0;

					&:hover {
						background-position: -168px 0;
					}
				}
			}

			&:nth-child(2) {

				.advantage__elem {
					background-position: 0 -190px;

					&:hover {
						background-position: -168px -190px;
					}
				}
			}

			&:nth-child(3) {

				.advantage__elem {
					background-position: 0 -380px;

					&:hover {
						background-position: -168px -380px;
					}
				}
			}

			&:nth-child(4) {

				.advantage__elem {
					background-position: 0 -570px;

					&:hover {
						background-position: -168px -570px;
					}
				}
			}

			&:nth-child(5) {

				.advantage__elem {
					background-position: 0 -760px;

					&:hover {
						background-position: -168px -760px;
					}
				}
			}

			&:nth-child(6) {

				.advantage__elem {
					background-position: 0 -950px;

					&:hover {
						background-position: -168px -950px;
					}
				}
			}

			&:hover {
				z-index: 20;
			}
		}
	}

	&__elem {
		width: 168px;
		height: 190px;
		margin: 0 auto;
		position: relative;
		background: url("../img/advantage__item_bg.png") 0 0 no-repeat;

		&:hover {

			.advantage__hover {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__text {
		color: #000;
		opacity: 0.8;
		padding-top: 30px;
		font-weight: 500;
		font-size: 2.1rem;
		line-height: 2.7rem;
		text-align: center;
		text-transform: uppercase;
	}

	&__hover {
		top: 0;
		left: -61px;
		width: 290px;
		height: 100%;
		padding: 20px;
		color: #ffffff;
		opacity: 0;
		visibility: hidden;
		font-size: 1.8rem;
		line-height: 2.4rem;
		position: absolute;
		background: #2b2b2b;
		@include flexbox();
		@include flex-direction(column);

		&:before {
			top: 2px;
			left: 2px;
			right: 2px;
			bottom: 2px;
			content: '';
			display: block;
			position: absolute;
			border: 1px solid #7f7f7f;
		}

		span {
			display: block;
			margin: auto 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 240px;

		&:before {
			top: 0;
			left: 50%;
			content: '';
			width: 672px;
			height: 250px;
			position: absolute;
			margin-left: -336px;
			background: url("../img/projector.png") 50% 0 no-repeat;
		}

		h2 {
			font-size: 4.7rem;
			line-height: 4.8rem;

			span {
				padding: 10px 25px;
			}
		}

		&__step {
			margin: 0 -15px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			> li {
				margin: 0 0 70px 0;

				&:before {
					top: 65px;
					right: -55px;
					content: '';
					width: 41px;
					height: 64px;
					position: absolute;
					background: url("../img/advantage__arrow.png") 0 0 no-repeat;
				}

				&:nth-child(3) {

					&:before {
						top: 100%;
						right: 50%;
						margin: -15px -20px 0 0;
						@include rotate(90deg);
					}
				}

				&:nth-child(4),
				&:nth-child(5) {

					&:before {
						@include rotate(180deg);
					}
				}

				&:nth-child(6) {

					&:before {
						display: none;
					}
				}

				&:nth-child(1),
				&:nth-child(4) {

					.advantage__hover {
						left: 0;
						margin-left: 0;
					}
				}

				&:nth-child(3),
				&:nth-child(6) {

					.advantage__hover {
						left: auto;
						right: 0;
						margin-left: 0;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 170px;

		&__step {
			width: 780px;
			margin: 0 auto;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 170px;

		.subtitle {
			margin-bottom: 110px;
		}

		&__step {
			width: auto;
			margin: 0 -15px 60px -15px;
			@include flex-wrap(nowrap);

			> li {
				margin-bottom: 0;

				&:before {
					display: none;
				}

				&:nth-child(1) {

					.advantage__elem {
						margin-top: -190px;
					}
				}


				&:nth-child(6) {

					.advantage__elem {
						margin-top: -190px;
					}
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {

					.advantage__hover {
						left: 100%;
						right: auto;
						margin-left: 30px;
					}
				}

				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6) {

					.advantage__hover {
						left: auto;
						right: 100%;
						margin-right: 30px;
					}
				}
			}
		}

		&__hover {
			left: 100%;
			width: 500px;
			margin-left: 0;
			font-size: 2.3rem;
			line-height: 3.1rem;
		}
	}


	@media (min-width: $screen-xl-min) {

		&__step {

			> li {

				&:nth-child(1) {

					&:before {
						top: -30px;
						display: block;
						@include rotate(45deg);
					}
				}

				&:nth-child(2) {

					&:before {
						right: -65px;
					}
				}

				&:nth-child(3) {

					&:before {
						margin: 0;
						top: 65px;
						right: -65px;
						@include rotate(0);
					}
				}

				&:nth-child(4) {

					&:before {
						right: -65px;
						@include rotate(0);
					}
				}

				&:nth-child(5) {

					&:before {
						top: -30px;
						display: block;
						@include rotate(-45deg);
					}
				}


				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {

					.advantage__hover {
						margin-left: 48px;
					}
				}

				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6) {

					.advantage__hover {
						margin-right: 48px;
					}
				}
			}
		}
	}
}

.problem {
	color: #fff;
	z-index: 10;
	padding: 60px 0;
	position: relative;
	background: #2b2b2b;

	.container {
		z-index: 20;
		position: relative;
	}

	h2 {
		color: #222222;
		font-weight: 100;
		font-size: 3.6rem;
		line-height: 3.6rem;
		text-align: center;
		margin-bottom: 15px;
		text-transform: uppercase;

		span {
			color: #222222;
			padding: 4px 20px;
			background: #fff33b;
			display: inline-block;
		}
	}

	&__left {
		z-index: 20;
		text-align: center;
		margin-bottom: 30px;
		position: relative;

		p {
			font-size: 2rem;
			font-weight: 300;
			line-height: 2.6rem;
			margin: 0 0 45px 0;
		}

		ul {
			padding: 0;
			margin: 0 -15px;
			list-style: none;
			font-size: 2.1rem;
			line-height: 2.7rem;
			text-transform: uppercase;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);

			> li {
				width: 125px;
				text-align: center;
				position: relative;
				margin: 0 15px 40px 15px;
				padding: 150px 0 0 0;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 125px;
					height: 125px;
					position: absolute;
					display: inline-block;
					background: url("../img/problem__icon.png") 0 0 no-repeat;
				}

				&:nth-child(1) {
					color: $color-yellow;

					&:before {
						background-position: 0 0;
					}
				}

				&:nth-child(2) {

					&:before {
						background-position: 0 -125px;
					}
				}

				&:nth-child(3) {

					&:before {
						background-position: 0 -250px;
					}
				}

				&:nth-child(4) {

					&:before {
						background-position: 0 -375px;
					}
				}
			}
		}
	}

	&__form {
		padding: 9px;
		margin: 0 auto;
		max-width: 390px;
		position: relative;

		&_top {
			top: 0;
			right: 0;
			content: '';
			width: 84px;
			height: 84px;
			display: block;
			position: absolute;
			border-top: 2px solid $color-yellow;
			border-right: 2px solid $color-yellow;
		}

		&_bottom {
			left: 0;
			bottom: 0;
			content: '';
			width: 84px;
			height: 84px;
			display: block;
			position: absolute;
			border-left: 2px solid $color-yellow;
			border-bottom: 2px solid $color-yellow;
		}

		&_wrap {
			z-index: 10;
			position: relative;
			padding: 50px 15px 40px 15px;
			background: rgba(43,43,43,0.4);
		}

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 90px 0;
		background: #2b2b2b url("../img/problem__bg.jpg") 50% 0 no-repeat;

		h2 {
			font-size: 4.7rem;
			line-height: 4.8rem;

			span {
				padding: 10px 25px;
			}
		}

		&__left {
			margin-bottom: 0;

			p {
				font-size: 2.3rem;
				line-height: 3.1rem;
			}
		}

		&__form {
			width: 390px;

			&_wrap {
				padding: 50px 35px 40px 35px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.container {

			&:before {
				z-index: 1;
				top: -226px;
				left: -135px;
				content: '';
				width: 399px;
				height: 272px;
				display: block;
				position: absolute;
				background: url("../img/problem__image.png") 0 0 no-repeat;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__left {
			text-align: left;
			max-width: 900px;

			ul {
				width: 700px;
				@include justify-content(space-between);

				> li {
					margin-bottom: 0;
				}
			}
		}

		&__right {
			padding-top: 80px;
		}

		h2 {
			text-align: left;
		}
	}

	@media (min-width: $screen-xl-min) {

	}

	@media (min-width: 1900px) {
		background-size: cover;
	}

}


.contact {
	position: relative;

	&__map {
		height: 372px;
	}

	&__nav {
		margin: 0;
		padding: 10px 0;
		z-index: 200;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);

		> li {
			padding: 0 5px;
			margin-bottom: 10px;

			&.active {

				a {
					color: #3a3735;
					background: #d9b82d;

					&:hover {
						color: #3a3735;
						background: #d9b82d;
					}
				}
			}

			a {
				color: #fff;
				font-weight: 400;
				font-size: 1.8rem;
				line-height: 3rem;
				padding: 9px 15px;
				background: #3a3736;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__map {
			height: 440px;
		}

		&__nav {
			padding: 0;
			left: 10px;
			right: 10px;
			bottom: 25px;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		&__map {
			height: 372px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			> li {

				a {
					font-weight: 100;
					font-size: 2.1rem;
				}
			}
		}
	}

}

.main {
	color: #2a2a2a;
	padding: 70px 0;
	background: #fff;

	h2 {
		color: #272727;
		max-width: 930px;
		font-weight: 300;
		font-size: 3.6rem;
		line-height: 3.6rem;
		text-align: center;
		margin: 0 auto 50px auto;

		strong {
			font-weight: 700;
		}
	}

	&__content {

	}

	&__image {
		display: none;
	}

	@media (min-width: $screen-sm-min) {

		h2 {
			font-size: 4.2rem;
			line-height: 4.2rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		h2 {
			font-size: 5.1rem;
			line-height: 5.1rem;
			margin-bottom: 80px;
		}

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__content {
			max-width: 690px;
		}

		&__image {
			display: block;
			padding-left: 60px;

			&_item {
				width: 400px;
			}
		}

		@media (min-width: $screen-xl-min) {

			&__content {
				margin-left: 180px;
			}

			&__image {

				&_item {
					width: 552px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}


.table_wrap {
	margin: 0 -10px 40px -10px;

	@media (min-width: $screen-sm-min) {
		margin: 0 -15px 60px -15px;
	}
}

.table {
	width: 100%;
	font-size: 1.8rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	border-collapse: collapse;

	td {
		padding: 8px 10px;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 2.1rem;
		line-height: 2.4rem;

		td {
			padding: 10px 15px;
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}
