@font-face {
    font-family: 'PF Din Text Comp Pro XBlack';
    src: url('PFDinTextCompPro-XBlackItalic.eot');
    src: local('PFDinTextCompPro-XBlackItalic'),
        url('PFDinTextCompPro-XBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-XBlackItalic.woff2') format('woff2'),
        url('PFDinTextCompPro-XBlackItalic.woff') format('woff'),
        url('PFDinTextCompPro-XBlackItalic.ttf') format('truetype'),
        url('PFDinTextCompPro-XBlackItalic.svg#PFDinTextCompPro-XBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-MediumItalic.eot');
    src: local('PFDinTextCompPro-MediumItalic'),
        url('PFDinTextCompPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-MediumItalic.woff2') format('woff2'),
        url('PFDinTextCompPro-MediumItalic.woff') format('woff'),
        url('PFDinTextCompPro-MediumItalic.ttf') format('truetype'),
        url('PFDinTextCompPro-MediumItalic.svg#PFDinTextCompPro-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-Italic.eot');
    src: local('PFDinTextCompPro-Italic'),
        url('PFDinTextCompPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-Italic.woff2') format('woff2'),
        url('PFDinTextCompPro-Italic.woff') format('woff'),
        url('PFDinTextCompPro-Italic.ttf') format('truetype'),
        url('PFDinTextCompPro-Italic.svg#PFDinTextCompPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro XBlack';
    src: url('PFDinTextCompPro-XBlack.eot');
    src: local('PFDinTextCompPro-XBlack'),
        url('PFDinTextCompPro-XBlack.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-XBlack.woff2') format('woff2'),
        url('PFDinTextCompPro-XBlack.woff') format('woff'),
        url('PFDinTextCompPro-XBlack.ttf') format('truetype'),
        url('PFDinTextCompPro-XBlack.svg#PFDinTextCompPro-XBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro X';
    src: url('PFDinTextCompPro-XThinItalic.eot');
    src: local('PFDinTextCompPro-XThinItalic'),
        url('PFDinTextCompPro-XThinItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-XThinItalic.woff2') format('woff2'),
        url('PFDinTextCompPro-XThinItalic.woff') format('woff'),
        url('PFDinTextCompPro-XThinItalic.ttf') format('truetype'),
        url('PFDinTextCompPro-XThinItalic.svg#PFDinTextCompPro-XThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-Light.eot');
    src: local('PFDinTextCompPro-Light'),
        url('PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-Light.woff2') format('woff2'),
        url('PFDinTextCompPro-Light.woff') format('woff'),
        url('PFDinTextCompPro-Light.ttf') format('truetype'),
        url('PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-Regular.eot');
    src: local('PFDinTextCompPro-Regular'),
        url('PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-Regular.woff2') format('woff2'),
        url('PFDinTextCompPro-Regular.woff') format('woff'),
        url('PFDinTextCompPro-Regular.ttf') format('truetype'),
        url('PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-Medium.eot');
    src: local('PFDinTextCompPro-Medium'),
        url('PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-Medium.woff2') format('woff2'),
        url('PFDinTextCompPro-Medium.woff') format('woff'),
        url('PFDinTextCompPro-Medium.ttf') format('truetype'),
        url('PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-ThinItalic.eot');
    src: local('PFDinTextCompPro-ThinItalic'),
        url('PFDinTextCompPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-ThinItalic.woff2') format('woff2'),
        url('PFDinTextCompPro-ThinItalic.woff') format('woff'),
        url('PFDinTextCompPro-ThinItalic.ttf') format('truetype'),
        url('PFDinTextCompPro-ThinItalic.svg#PFDinTextCompPro-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-LightItalic.eot');
    src: local('PFDinTextCompPro-LightItalic'),
        url('PFDinTextCompPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-LightItalic.woff2') format('woff2'),
        url('PFDinTextCompPro-LightItalic.woff') format('woff'),
        url('PFDinTextCompPro-LightItalic.ttf') format('truetype'),
        url('PFDinTextCompPro-LightItalic.svg#PFDinTextCompPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-Thin.eot');
    src: local('PFDinTextCompPro-Thin'),
        url('PFDinTextCompPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-Thin.woff2') format('woff2'),
        url('PFDinTextCompPro-Thin.woff') format('woff'),
        url('PFDinTextCompPro-Thin.ttf') format('truetype'),
        url('PFDinTextCompPro-Thin.svg#PFDinTextCompPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-Bold.eot');
    src: local('PFDinTextCompPro-Bold'),
        url('PFDinTextCompPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-Bold.woff2') format('woff2'),
        url('PFDinTextCompPro-Bold.woff') format('woff'),
        url('PFDinTextCompPro-Bold.ttf') format('truetype'),
        url('PFDinTextCompPro-Bold.svg#PFDinTextCompPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-BoldItalic.eot');
    src: local('PFDinTextCompPro-BoldItalic'),
        url('PFDinTextCompPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-BoldItalic.woff2') format('woff2'),
        url('PFDinTextCompPro-BoldItalic.woff') format('woff'),
        url('PFDinTextCompPro-BoldItalic.ttf') format('truetype'),
        url('PFDinTextCompPro-BoldItalic.svg#PFDinTextCompPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Comp Pro X';
    src: url('PFDinTextCompPro-XThin.eot');
    src: local('PFDinTextCompPro-XThin'),
        url('PFDinTextCompPro-XThin.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-XThin.woff2') format('woff2'),
        url('PFDinTextCompPro-XThin.woff') format('woff'),
        url('PFDinTextCompPro-XThin.ttf') format('truetype'),
        url('PFDinTextCompPro-XThin.svg#PFDinTextCompPro-XThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

