
.btn {
	border: none;
	outline: none;
	color: #383c46;
	cursor: pointer;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2rem;
	padding: 19px 25px;
	user-select: none;
	text-align: center;
	background: #fff33b;
	position: relative;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;

	&:hover {
		color: #383c46;
		background: #FFD500;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: #fff33b;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 2.6rem;
		line-height: 3rem;
	}

}

.btn_download {
	position: relative;
	text-align: left;
	padding: 16px 36px 16px 90px;
	text-transform: initial;

	&:before {
		top: 0;
		left: 0;
		content: '';
		width: 65px;
		height: 100%;
		position: absolute;
		border-right: 1px solid #7b762b;
		background: url("../img/icon__download.png") 50% 50% no-repeat;
	}

	span {
		display: block;
		font-size: 1.8rem;
		line-height: 2rem;
	}

	small {
		display: block;
		font-size: 1.4rem;
		line-height: 2rem;
	}


	@media (min-width: $screen-sm-min) {
		font-size: 2.8rem;
		line-height: 3rem;

		span {
			font-size: 2.8rem;
			line-height: 3rem;
		}

		small {
			font-size: 1.9rem;
			line-height: 2rem;
		}
	}
}

.btn_callback {
	color: #cdcccc;
	outline: none;
	user-select: none;
	font-weight: 100;
	font-size: 2.1rem;
	line-height: 2.6rem;
	padding: 10px 20px;
	text-align: center;
	white-space: nowrap;
	position: relative;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	text-transform: uppercase;
	border: 1px solid #656363;

	&:hover {
		color: #231f20;
		background: #fff;
		border-color: #fff;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		top: 1px;
	}
}

.btn_green {
	color: #fff;
	background: #72a041;

	&:hover {
		color: #fff;
		background: #578921;
	}
}

.btn_group {
	padding: 0;
	margin: 0 -15px;
	list-style: none;
	text-align: center;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);

	> li {
		padding: 0 15px;
		margin-bottom: 20px;
	}
}

.btn_md {

	@media (min-width: $screen-md-min) {
		font-size: 3rem;
		line-height: 3rem;
		padding: 27px 50px;
	}
}

.btn_icon {
	font-weight: 100;
	padding-right: 70px;

	&:before {
		top: 10px;
		bottom: 10px;
		right: 50px;
		width: 1px;
		content: '';
		background: #aac68d;
		position: absolute;
	}

	i {
		top: 50%;
		right: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
		margin-top: -10px;
		position: absolute;
		display: inline-block;
	}

	@media (min-width: $screen-md-min) {
		padding-left: 35px;
		padding-right: 80px;
	}
}