.form_control {
	margin: 0;
	border: none;
	width: 100%;
	height: 40px;
	outline: none;
	color: #fefefe;
	padding: 5px 0;
	overflow: hidden;
	font-weight: 100;
	font-size: 2.7rem;
	line-height: 3rem;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: transparent;
	text-transform: uppercase;
	border-bottom: 2px solid #ffff;
	@include placeholder(#fff);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
		@include transition(.3s);
	}
}

.form_group {
	margin-bottom: 48px;
}